p {
  text-align: right;
  font-size: 1.25em;
}

.map-frame {
  width: 23.5rem;
  overflow: hidden;
  margin: 2.5rem 0;
  padding: 2rem;
  border-radius: 2rem;
  box-sizing: border-box;
}

google-map {
  width: 100%;
  height: 400px;
}
