<div class="map-container">
    <div class="map-frame">

        <google-map height="400px"
                    width="100%"
                    [zoom]="zoom">
            <!-- <agm-marker *ngFor="let m of markers; let i = index"
                        (markerClick)="clickedMarker(m.label, i)"
                        [latitude]="m.lat"
                        [longitude]="m.lng"
                        [label]="m.label"
                        [markerDraggable]="m.draggable"
                        (dragEnd)="markerDragEnd(m, $event)">
            </agm-marker> -->
        </google-map>
    </div>
    <p class="latitude"> Latitude: {{ mapWeatherData?.coords.lat }} </p>
    <p class="longitude"> Longitude: {{ mapWeatherData?.coords.lng }} </p>
</div>