span {
  position: absolute;
  transform: scale(4);
  right: -5rem;
  top: 4rem;
}

.sun {
  z-index: 0;
  right: -7rem;
  top: 3rem;
  color: rgb(255, 255, 0);
  filter: drop-shadow(1px 1px 5px rgb(255, 255, 0));

  animation-name: sunMovement;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}

@keyframes sunMovement {
  from {
    transform: rotate(45deg) scale(4);
  }
  to {
    transform: rotate(-45deg) scale(3);
  }
}

.moon {
  z-index: 0;
  right: -7rem;
  top: 3rem;
  color: rgb(245, 245, 137);
  filter: drop-shadow(1px 1px 5px rgb(245, 245, 137));

  animation-name: moonMovement;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}

@keyframes moonMovement {
  from {
    transform: rotate(-5deg) scale(4);
  }
  to {
    transform: rotate(5deg) scale(3);
  }
}

.cloud {
  z-index: 1;
  color: rgb(177, 237, 245);
  filter: drop-shadow(1px 1px 5px rgb(177, 237, 245));

  animation-name: cloudMovement;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}

@keyframes cloudMovement {
  from {
    right: -5rem;
  }
  to {
    right: -6rem;
  }
}

.rain {
  top: 7rem;
  z-index: 0;
  color: rgb(152, 236, 247);
  filter: drop-shadow(1px 0px 5px rgb(152, 236, 247));

  animation-name: cloudMovement;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}
