<div class="contlols-container">
    <div class="btn refresh"
         (click)="refreshBg()">
        <img src="../../assets/refresh.png">
    </div>


    <select class="btn select ">
        <option value="EN">EN</option>
        <option value="RU">RU</option>
    </select>

    <div class="btn degree">
        <input id="c"
               class="btn"
               type="radio"
               name="degree-type"
               checked> <label for="c">&deg;C</label>

        <input id="f"
               class="btn"
               type="radio"
               name="degree-type"> <label for="f">&deg;F</label>
    </div>
</div>