.btn {
  display: inline-block;
  padding: 1rem;

  &.refresh {
    background: url("../../assets/refresh-bg.png") no-repeat;
  }

  &.degree {
    font-family: "Montserrat", sans-serif;
  }

  &.lang {
    width: 3rem;
  }
}

select,
input {
  border: none;
  outline: none;
}

input[type="radio"] {
  visibility: hidden;
  width: 0;
}
input[type="radio"]:checked + label {
  color: blue;
}
