<div class="contlols-container">
    <div class="btn refresh"
         (click)="refreshBg()">
        <img src="../../assets/refresh.png">
    </div>

    <select class="btn select "
            #langSelect
            (change)="translate.use(langSelect.value)">
        <option *ngFor="let lang of translate.getLangs()"
                [value]="lang"
                [selected]="lang === translate.currentLang">{{ lang }}</option>
    </select>



    <div class="btn degree">
        <input id="c"
               class="btn"
               type="radio"
               name="degree-type"
               value="C"
               (ngModelChange)="changeDegreeType($event)"
               [(ngModel)]="degreeType"> <label for="c">&deg;C</label>

        <input id="f"
               class="btn"
               type="radio"
               name="degree-type"
               value="F"
               (ngModelChange)="changeDegreeType($event)"
               [(ngModel)]="degreeType"> <label for="f">&deg;F</label>
    </div>
</div>