<div class="contlols-container">
    <div class="btn refresh">
        <img src="../../assets/refresh.png">
    </div>

    <select class="btn select ">
        <option value="EN">EN</option>
        <option value="RU">RU</option>
    </select>

    <div class="degree">
        <input id="a"
               class="btn"
               type="radio"
               name="degree-type"
               checked> <label for="a">&#8451;</label>

        <input id="b"
               class="btn"
               type="radio"
               name="degree-type"> <label for="b">&#8457;</label>
    </div>
</div>