.home {
  position: relative;
  display: block;
  overflow: hidden;
  // background: url("../assets/gradient.png") no-repeat;
  padding: 2.1rem 5.1rem;
  margin: 0 auto;
  width: 78.5rem;
  min-height: 43.5rem;
  box-sizing: border-box;
  color: #ffffff;
}
