<div class="main-container">
    <h2 class="city"> {{ 'PLACE.city' | translate }}, {{ 'PLACE.country' | translate }}</h2>
    <p class="time"> <span> {{ today.time }} </span> </p>

    <div>
        <span class="temp"> {{ 10 | tempConverter: '{{degreeType}}'' }}<span class="degree-icon">&deg;</span>
            <img class="icon"
                 src="../../assets/clouds.png">
        </span>

        <ul class="cast overcast">
            <li class="overcast"><span>{{ 'OVERCAST.overcast' | translate }} </span> <span></span> </li>
            <li class="feel"> <span>{{ 'OVERCAST.feels' | translate }} </span> <span></span> </li>
            <li class="wind"> <span>{{ 'OVERCAST.wind' | translate }}</span> <span></span> </li>
            <li class="hum"> <span>{{ 'OVERCAST.humidity' | translate }}</span> <span></span> </li>
        </ul>
    </div>
    <ul class="cast forecast">
        <li class="week">
            <p> {{'FORECAST.tomorrow' | translate}} </p>
            <div>
                <span class="week-temp"> 7&deg;<img src="../../assets/clouds.png"></span>

            </div>
        </li>
        <li class="week">
            <p> {{'FORECAST.in one day' | translate}} </p>
            <div>
                <span class="week-temp"> 56&deg;<img src="../../assets/clouds.png"></span>

            </div>
        </li>
        <li class="week">
            <p> {{ 'FORECAST.in two days' | translate }} </p>
            <div>
                <span class="week-temp"> 6&deg;<img src="../../assets/clouds.png"></span>
            </div>
        </li>
    </ul>

</div>