<div class="main-container">
    <h2 class="city"> Minsk, Belarus </h2>
    <p class="time"> <span> Mon, 25 december </span> <span> 12:34 </span> </p>

    <div>
        <span class="temp"> 10<span class="degree-icon">&deg;</span>
            <img class="icon"
                 src="../../assets/clouds.png">
        </span>

        <ul class="cast overcast">
            <li>Overcast</li>
            <li class="feel"> <span>Feels like:</span> {{ feel }} </li>
            <li class="wind"> <span>Wind:</span> {{ wind }} </li>
            <li class="hum"> <span>Humidity:</span> {{ humidity }} </li>
        </ul>
    </div>
    <ul class="cast forecast">
        <li class="week">
            <p> Monday </p>
            <div>
                <span class="week-temp"> 7&deg;<img src="../../assets/clouds.png"></span>

            </div>
        </li>
        <li class="week">
            <p> Monday </p>
            <div>
                <span class="week-temp"> 56&deg;<img src="../../assets/clouds.png"></span>

            </div>
        </li>
        <li class="week">
            <p> Monday </p>
            <div>
                <span class="week-temp"> 6&deg;<img src="../../assets/clouds.png"></span>

            </div>
        </li>
    </ul>

</div>