.main-container {
  text-transform: uppercase;
}

.city {
  font-size: 2.4rem;
  margin-bottom: 0;
}
.week {
  display: inline-block;
}

.time {
  margin: 0;
}

.time span {
  text-transform: capitalize;
}

.temp,
.overcast {
  display: inline-block;
}

.temp {
  position: relative;
  font-size: 16.5rem;
  font-weight: 700;
  line-height: 23.313rem;

  & .degree-icon {
    position: absolute;
    top: -4rem;
    right: -3.5rem;
    font-size: 5.5rem;
    z-index: 3;
  }

  & .icon {
    position: absolute;
    transform: scale(0.9);
    top: 1rem;
    z-index: 2;
  }
}

.temp-container {
  position: relative;
}

.cast {
  white-space: nowrap;
  font-size: 1.2rem;
  line-height: 2rem;

  &.overcast {
    position: absolute;
    margin-left: 3rem;
    bottom: 5rem;
    font-weight: 700;
  }

  & .week {
    margin-right: 6rem;
    font-weight: 700;
  }

  & .week span {
    text-transform: capitalize;
    font-weight: 500;
  }

  & .week .week-temp {
    font-size: 4rem;
    font-weight: 700;
    line-height: 6rem;
  }

  & .week img {
    position: absolute;
    transform: scale(0.35);
    top: -1.5rem;
    right: -7rem;
    z-index: 0;
  }

  & .week-temp {
    position: relative;
  }
}
