<header class="header">
    <h1>WeatherApp</h1>
    <app-controls [degreeType]="homeDegreeType"
                  [selectedLang]="homeSelectedLang"
                  (onRefreshClickFromControls)="randomBg()"
                  (onChangedDegreeType)="homeDegreeChange($event)"
                  (onChangeSelectedLang)="homeLangChange($event)"></app-controls>
    <app-search (onCitySearched)="cityNameChange($event)"></app-search>
</header>

<main class="main">
    <app-main-content [mainDegreeType]="homeDegreeType"
                      [mainSelectedLang]="homeSelectedLang"
                      [mainCityName]="homeCityName"></app-main-content>
    <app-map></app-map>
</main>

<footer></footer>